.container
{
    width: 350px;
    height: 350px;
   display: grid;
  grid-template-columns:repeat(3, 1fr);
  grid-template-rows: minmax();
  gap: 10px;
}
.box1
{
    width: 100px;
    height: 100px;
    background-color: coral;
}
.box2
{
    width: 100px;
    height: 100px;
    background-color: brown;
}
.box3{
    width: 100px;
    height: 100px;
    background-color: cadetblue;
}
.box4{
    width: 100px;
    height: 100px;
    background-color: darkgoldenrod;
}
.box5{
    width: 100px;
    height: 100px;
    background-color: darkkhaki;
}
.box6{
    width: 100px;
    height: 100px;
    background-color: darkmagenta;
}