body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: azure;
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px 0;
    text-align: center;
}
nav ul{
    list-style: none;
    padding : 0;
}
nav li{
    display: inline;
    margin: 0 15px;
}
nav a{
    text-decoration: none;
    color:white;
    font-weight: bold;

}
section{
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}
footer{
    background-color: #333;
    color: white;
    text-align: end;
    padding: 10px 0;
    width: 100%;
}
@media( max-width:768px){
    header{
        text-align: left;
        padding : 15px 40px;
        background-color: lightcoral;
    }
    nav ul{
        display:flex;
        justify-content: flex-end;
    }
    
    section{
        margin: 40px auto;

    }
    footer{
        font-size: 1.1rem;
        letter-spacing: 0.5px;
    }
}