body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(84, 12, 110);
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px 0;
    text-align:start;
}
nav ul{
    background-color: rgb(84, 12, 110);
    list-style: none;
    padding : 0;
}
nav{
 li::before{
    content:"🌟"
    }
    li::after{
    content:"😁"
    }
    display: inline;
    margin: 0 15px;
}
nav a{
    text-decoration: none;
    color:white;
    font-weight: bold;

}
nav a:hover{
    text-decoration: underline;
}
nav a:active{
    color: yellow;
}
nav a:visited{
    color: lightgray;
}
nav a:link{
    color: white;
}
nav a:focus{
    background-color: yellow;
    color: black;
}
section h2::selection{
    color: rgb(84, 12, 110);
    background-color: yellow;
}
section{
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}
footer::first-letter{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

@media( max-width:768px){
    header{
        text-align: left;
        padding : 15px 40px;
        background-color: lightcoral;
    }
    nav ul{
        display:flex;
        justify-content: flex-end;
    }
    
    section{
        margin: 40px auto;

    }
    footer{
        font-size: 1.1rem;
        letter-spacing: 0.5px;
    }
}